/**
* COLORS
*/

// PRIMARY :
$black: #222222;
$white: #FFFFFF;

// SECONDARY


// GRADIENTS :
$gradient: linear-gradient(to right top, #1ae0b2, #1ae0b2, #1ae0b2, #1ae0b2, #1ae0b2, #00d9c4, #00d2d1, #00c9d8, #00b4e8, #009cf6, #007ef6, #5755e0);

/**
* FONTS
*/
$font: Arial, sans-serif;

/**
* BREAKPOINTS
*/
$tablet-up: 768px;
$tablet-down: 767px;

$desktop-up: 1200px;
$desktop-down: 1199px;

@mixin tablet-up {
  @media (min-width: $tablet-up) {
    @content;
  }
}
@mixin tablet-down {
  @media (max-width: $tablet-down) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $desktop-up) {
    @content;
  }
}
@mixin desktop-down {
  @media (max-width: $desktop-down) {
    @content;
  }
}

/**
* GLOBAL
*/
$headerHeight: 40px;